// Variables

// Restated Bootstrap Variables

$white: #fff ;
$gray-100: #f8f9fa ;
$gray-200: #e9ecef ;
$gray-300: #dee2e6 ;
$gray-400: #ced4da ;
$gray-500: #adb5bd ;
$gray-600: #868e96 ;
$gray-700: #495057 ;
$gray-800: #343a40 ;
$gray-900: #212529 ;
$black: #000 ;

$primary: #ee0979;
$secondary: rgb(255, 164, 0);

$fail: rgb(255, 78, 66);
$average: $secondary;
$pass: rgb(12, 206, 107);