<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"><%= controller_path.split('/').last.to_s.titleize %></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">Share</button>
      <button class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
      This week
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div id="app">

      <form action="#" @submit="run">
        <div class="field has-addons is-horizontal">
          <label class="label field-label">URL</label>
          <div class="control field-body">
            <input class="input" type="text" placeholder="Text input" v-model="url" required/>
          </div>
          <div class="control">
            <button type="button" class="button is-info" @click="findLinks">Find Related Links</button>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label"></div>
          <div class="field-body">
            <ul>
              <li v-for="link in relatedLinks" class="is-inline" :key="link.value">
                <label class="checkbox is-inline">
                  <input type="checkbox" :value="link.value"/>
                  {{link.name}}
                </label>
              </li>
            </ul>
          </div>
        </div>
        <div class="field is-horizontal">
          <label class="label field-label">Category (Optional)</label>
          <div class="control field-body">
            <label class="checkbox">
              <input type="checkbox" value="accessibility" v-model="categories"/>
              accessibility
            </label>
            &nbsp;
            <label class="checkbox">
              <input type="checkbox" value="best-practices" v-model="categories"/>
              best-practices
            </label>
            &nbsp;
            <label class="checkbox">
              <input type="checkbox" value="performance" v-model="categories"/>
              performance
            </label>
            &nbsp;
            <label class="checkbox">
              <input type="checkbox" value="pwa" v-model="categories"/>
              pwa
            </label>
            &nbsp;
            <label class="checkbox">
              <input type="checkbox" v-model="categories" value="seo"/>
              seo
            </label>
          </div>
        </div>
        <div class="field is-horizontal">
          <label class="label field-label"></label>
          <div class="control field-body">
            <button class="button is-primary" type="button" :class="{'is-loading':loadingResults}">
                <span class="icon is-small">
                  <i class="fas fa-check"></i>
                </span>
              <span>Submit</span>
            </button>
          </div>
        </div>

        <h3>Result</h3>
        <div class="notification" id="result"></div>
      </form>

    </div>

  </div>
</div>
