<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"><%= controller_path.split('/').last.to_s.titleize %></h1>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table">

      <thead>
      <tr>
        <th>ID</th>
        <th>URL</th>
        <th>Created At</th>
      </tr>
      </thead>
      <tbody>
      <% @swishes.each do |swish| %>
        <tr>
          <td>
            <%= swish.id %>
          </td>
          <td>
            <%= swish.url %>
          </td>
          <td>
            <%= swish.created_at.to_formatted_s(:long) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>