<!--<header class="masthead text-center text-white">-->
<!--  <div class="masthead-content">-->
<!--    <div class="container">-->
<!--      <h1 class="masthead-heading mb-0">Track and Compare</h1>-->
<!--      <h2 class="masthead-subheading mb-0">Website performance with <br> Google Lighthouse v3</h2>-->
<!--      <a href="<%#= new_users_swish_url %>" class="btn btn-primary btn-xl rounded-pill mt-5">-->
<!--        Create a Swish-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="bg-circle-1 bg-circle"></div>-->
<!--  <div class="bg-circle-2 bg-circle"></div>-->
<!--  <div class="bg-circle-3 bg-circle"></div>-->
<!--  <div class="bg-circle-4 bg-circle"></div>-->
<!--</header>-->
<header class="masthead text-center text-white p-5">

    <div class="container">
      <h1 class="masthead-heading mb-0">Track and Compare</h1>
      <h2 class="masthead-subheading mb-0">Website performance with Google Lighthouse v3</h2>
      <a href="<%= new_users_swish_url %>" class="btn btn-primary btn-xl rounded-pill mt-5">
        Create a Swish
      </a>
    </div>

</header>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded" src="images/preview.png" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Evaluate</h2>
          <p>
            A System to evaluate your website performace with Google's Lighthouse Audit.
            With Every Audit report saved and preview able.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded" src="images/compare-results.png" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-3">Compare</h2>
          <p>
            You can compare previous results with the latest audit. The Websites are grouped by the url and color coded
            numbers to show results
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded" src="images/03.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Compete</h2>
          <p>
            Why just Audit? You can also Compete and Brag!!.
            Add a swish to the Public LeaderBoards to see how your website ranks across the world
            <br>
            <br>
            <a href="/leaderboards" class="btn btn-primary rounded">
              Go to Leaderboards
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
