<header class="masthead text-center text-white p-5">

  <div class="container">
    <h1 class="masthead-heading mb-0">Scoring For LeaderBoards</h1>
  </div>

</header>
<div class="container pt-5 pb-5">

  <p>Welcome to Swish!</p>

  <p>
    Note: The Scores ignore the value of PWA metric. <br>

    The Calculation of Score is done per report of a swish generated.
    The Score can be raised to reduced by any report created for a Url. <br>
    There are no Ownership rules for domains, so any report created by any individual counts. <br>
  </p>
  <p>
    You cannot unregister your domain from the leader boards. No Information is made publics, as to who created the
    reports.
    A Swish here is considered as a Website / Webapp for which reports are generated. <br>
  </p>
  <p>
    Following in the calculation Table of a Single Swish Report.
  </p>
  <table class="table table-bordered table-sm">
    <tbody>
    <tr>
      <th>Metric</th>
      <th>Value</th>
      <th>Score</th>
    </tr>
    <tr>
      <th>Accessibility</th>
      <td> 76.0</td>
      <td> 76.0</td>
    </tr>
    <tr>
      <th>Performance</th>
      <td>95.0</td>
      <td>95.0</td>
    </tr>
    <tr>
      <th>SEO</th>
      <td> 91.0</td>
      <td>91.0</td>
    </tr>
    <tr>
      <th>Best-Practices</th>
      <td> 92.0</td>
      <td>92.0</td>
    </tr>
    <tr>
    <tr>
      <th>First Contentful Paint</th>
      <td>0.9s</td>
      <td> 99.1 (100 - 0.9)</td>
    </tr>


    <tr>
      <th>First Meaningful Paint</th>
      <td>0.9s</td>
      <td> 99.1 (100 - 0.9)</td>
    </tr>


    <tr>
      <th>Time To Interactive</th>
      <td>1.2s</td>
      <td> 98.8 (100 - 1.2)</td>
    </tr>

    <tr>
      <th>Speed Index</th>
      <td>1.4</td>
      <td> 98.6 (100 - 1.0)</td>
    </tr>

    <tr>
      <th colspan="2">Total</th>

      <th><span class="text-primary">938.5</span></th>
    </tr>
    </tbody>
  </table>
  <p>
    The Top Score for a particular URL is Used.
    Example: <br>
    If on 15 May, http://prikeshsavla.com/ has a score of <span class="text-primary">938.5</span> <br>
    and on 15 May, http://prikeshsavla.com/ reports a score of <span class="text-primary">922.0</span>. <br>
    Then 938.5 is kept as it is the highest on its bracket. <br>
  </p>
  <p>
    Additionally, If there are more pages, <br>
    The average scores of those pages is used as the leader board score. <br>
    If http://prikeshsavla.com/ has a score of 940.0 and http://prikeshsavla.com/about has a score of 960.0,
    then the overall score is <span class="text-primary"> 950.0 ( (940.0 + 960.0)/2 )</span> of the site.

  </p>

</div>